<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Days since I heard a song I already know
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md my-5 text-center">
                <h1>It has been {{ days }} days</h1>
                <p>since I heard a song for the first time that I already know from a mashup album</p>
                <button class="btn btn-outline-danger mt-5" onclick="window.location.href = '/reset';">Reset</button>
            </div>
        </div>
    </div>
</body>
</html>
